.td{
    padding: 0 15px 0 0;
}
.tr{
    padding-top: 13px;
    margin-top: 13px;
    border-top: solid 1px RGBA(226, 223, 238, 0.06);
    display: flex;
    justify-content: space-around;
}
.levelBox{
    padding: 4.5px 8px;
    border: 1px solid RGBA(227, 223, 238, 0.15);
    border-radius: 6px;
    display: inherit;
}
.levelBox_gray{
    border: 1px solid RGBA(227, 223, 238, 0.15);
    color:white
}
.levelBox_yellow{
    color:  RGBA(255, 209, 39, 1);
    border: 1px solid RGBA(255, 209, 39, 1);
}
.td_yellow{
    color:  RGBA(255, 209, 39, 1);
}
.td_white{
    color:white
}
.td_green{
    color: #6cdc62;
}
 